* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cover {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(135deg, #ffe985 10%, #fa742b 100%);
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover_h1 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 3vmax;
  color: white;
  margin-bottom: 20px;
}

.cover_h2 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 2vmax;
  color: white;
}
