.pcfi-container {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.pcfi-box {
  width: 80%;
  text-align: center;
}

.pcfi-img-box {
  background: transparent;
  overflow-y: scroll;
  margin: 20px auto;
  cursor: pointer;
}

.pcfi-img {
  width: 100%;
}

.pcfi-pickcolor-btn {
  min-width: 150px;
  padding: 10px;
  background-color: var(--main-color);
  font-family: var(--button-font-family);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-left: 5px;
}

.pcfi-pickedcolors-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}

.pcfi-pickedcolors-h4 {
  font-family: var(--content-font-family);
  font-size: 23px;
}
.pcfi-pickedcolors-note {
  margin-left: 5px;
  font-family: var(--content-font-family);
  font-size: 17px;
}
.pcfi-pickedcolors {
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: var(--content-font-family);
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .pcfi-pickedcolors-cont {
    flex-direction: column;
  }
  .pcfi-pickedcolors {
    font-size: 13px;
  }
}
