.wordCounterContainer {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wordCounterBox {
  width: 70%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordCounter-showCounts-top {
  height: 50px;
  font-size: 24px;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 10px;
  font-family: var(--content-font-family);
  font-weight: 500;
  color: white;
}

.wordCounter-text {
  appearance: none;
  width: 100%;
  min-height: 210px;
  font-size: 16px;
  font-family: var(--content-font-family);
  padding: 10px;
  outline: none;
  resize: none;
}

.wordCounter-showCounts-bottom {
  height: 40px;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 10px;
  font-family: var(--content-font-family);
  font-size: 18px;
  font-weight: 500;
  color: white;
}
